################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/team tetra/FileContentIndex/read.lock
/.vs/team tetra/FileContentIndex/da959655-a2cb-4c57-aafd-d4ac7454f43d.vsidx
/.vs/team tetra/FileContentIndex/b362dc1b-344f-4f1e-a246-597804573c6b.vsidx
/.vs/team tetra/FileContentIndex/8ed8a7d1-f967-473b-bc6a-526925b9f997.vsidx
/.vs/team tetra/FileContentIndex/8a4b7710-57eb-41b7-b47d-f3457bf516f2.vsidx
/.vs/team tetra/FileContentIndex/66592fcf-1ff7-46e9-8937-d102fe04f1ca.vsidx
/.vs/team tetra/FileContentIndex/017142d9-b077-4a4f-accb-c565869a544e.vsidx
/.vs/team tetra/FileContentIndex
/.vs/team tetra/v17
/.vs
