.main-container {
    display: flex;
     flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
  }
  

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
/* Style the buttons that are used to open the tab content */
.tab button {
background-color: inherit;
float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
display: none;
width: 100%;
padding: 6px 12px;
border: 1px solid #ccc;
border-top: none;
}

.tabcontent.active {
    display: block;
    border: 3px solid #fff;
    padding: 20px;
}

/* *******************************************
                TABS 
********************************************/
.filter-sidebar {
    width: 200px;
    height: 90%;
    float: left;
    padding: 1px;
    border: 2px solid black;

    background-color: beige; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0%;
}


.incompatible {
    color: red;  /* Makes the text red if the condition is incompatible */
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.fish-card {
    position: relative;
    height: 150px; /* Fixed height */
    overflow: hidden;
    transition: all 0.3s ease;
    border: 2px solid black;
    border-radius: 15px;  /* Creates rounded corners */
    padding: 10px;
}
.plant-card {
    position: relative;
    height: 150px; /* Fixed height */
    overflow: hidden;
    transition: all 0.3s ease;
    border: 2px solid black;
    border-radius: 15px;  /* Creates rounded corners */
    padding: 10px;
}

.tank-card {
    position: relative;
    height: 150px; /* Fixed height */
    overflow: hidden;
    transition: all 0.3s ease;
    border: 2px solid black;
    border-radius: 15px;  /* Creates rounded corners */
    padding: 10px;
}


  
.fish-card.grayed-out {
    opacity: 0.5;
    cursor: default; 
}

.plant-card.grayed-out {
    opacity: 0.5;
    cursor: default; 
}
  
.tank-card.grayed-out {
    opacity: 0.5;
    cursor: default; 
}
  
  
.card-image {
    width: 100%;
    height: 100px;
    object-fit: cover;
    display: block;
}
  
.card-details {
    position: absolute;
    top: 300px;
    left: 0;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease, opacity 0.5s;
    transform: translateY(100%); /* Start hidden */
    opacity: 0;
  
}


.fish-card:hover {
    z-index: 10; /* Ensure the card is above others when expanded */
    height: 450px; /* Allow the card to expand to the height of its content */
    overflow: visible; /* Let the content overflow outside the fixed height */
}
.plant-card:hover {
    z-index: 10; /* Ensure the card is above others when expanded */
    height: 300px; /* Allow the card to expand to the height of its content */
    overflow: visible; /* Let the content overflow outside the fixed height */
}

.tank-card:hover {
    z-index: 10; /* Ensure the card is above others when expanded */
    height: 300px; /* Allow the card to expand to the height of its content */
    overflow: visible; /* Let the content overflow outside the fixed height */
}
  
.fish-card:hover .card-details {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
}

.plant-card:hover .card-details {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
}
  
.tank-card:hover .card-details {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
}
  
  
.info-button {
    display: block;
    width: 100%;
    padding: 8px;
    background: #007BFF;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
    
  
/*---------------build-------------------*/
.build-container {
    
    right: 0;
    top: 0;
    width: 500px; 
    height: auto;
    overflow-y: auto;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .build-section {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap onto the next line */
    gap: 5px; /* Spacing between items */
  }
  
  /* Styling for each type of item */
  .build-item {
    
    top: 0; 
    flex: 1 1 120px; /* Allows items to grow and shrink but bases on 120px width */
    padding: 8px;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100px; /* Minimum width to ensure content does not get too squished */
    max-width: 100px; /* Maximum width to keep items smaller */
  }
  
  .build-item img {
    width: 100%;
    max-height: 60px; /* Reducing height for smaller display */
    object-fit: cover;
  }
  
  .build-title {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
  }
  
  .build-description {
    font-size: 12px;
    color: #666;
    text-align: center; /* Ensures text is centered */
  }
  
  

  
.card {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    overflow: visible;
    cursor: pointer;
    position: relative;
}


